---

---

<header id="navbar" class="w-full hidden lg:flex flex-col">
  <nav class="w-full flex justify-between border-bot">
    <div class="flex">
      <a href="/" id="nav-logo">jason-quach</a>
      <a href="/" id="nav-link">_hello</a>
      <a href="/about-me" id="nav-link">_about-me</a>
      <a href="/projects" id="nav-link">_projects</a>
      <a href="/contact-me" id="nav-link-contact">_contact-me</a>
    </div>
  </nav>
</header>

<style>
  #nav-link {
    border-right: 1px solid #1e2d3d;
    @apply text-menu-text font-fira_retina px-6 h-full flex items-center;
  }

  #nav-link-contact {
    border-left: 1px solid #1e2d3d;
    @apply text-menu-text font-fira_retina px-6 h-full flex items-center;
  }

  #nav-link:hover,
  #nav-link-contact:hover {
    background-color: #1e2d3d74;
    color: white;
  }

  #nav-logo {
    border-right: 1px solid #1e2d3d;
    @apply text-menu-text font-fira_retina px-6 h-full flex items-center;
  }

  #nav-logo:hover {
    background-color: #1e2d3d74;
    color: white;
  }

  #nav-link.router-link-active,
  #nav-link-contact.router-link-active {
    border-bottom: 2px solid #fea55f;
    color: white;
  }

  #nav-logo.router-link-active {
    border-right: 1px solid #1e2d3d;
    border-bottom: none;
    @apply text-menu-text;
  }

  #navbar > nav {
    height: 45px;
    font-size: 13px;
  }
</style>
