---
import HeaderLink from "./HeaderLink.astro";
---

<header id="navbar" class="w-full hidden lg:flex flex-col">
  <nav class="w-full flex justify-between border-bot">
    <div class="flex">
      <HeaderLink href="/" id="nav-logo">jason-quach</HeaderLink>
      <HeaderLink href="/" id="nav-link">_hello</HeaderLink>
      <!-- <HeaderLink href="/about-me" id="nav-link">_about-me</HeaderLink> -->
      <!-- <HeaderLink href="/projects" id="nav-link">_projects</HeaderLink> -->
    </div>
    <HeaderLink href="/contact-me" id="nav-link-contact">_contact-me</HeaderLink>
  </nav>
</header>

<style>
  #nav-link {
    border-right: 1px solid #1e2d3d;
    @apply text-menu-text font-fira_retina px-6 h-full flex items-center;
  }

  #nav-link-contact {
    border-left: 1px solid #1e2d3d;
    @apply text-menu-text font-fira_retina px-6 h-full flex items-center;
  }

  #nav-link:hover,
  #nav-link-contact:hover {
    background-color: #1e2d3d74;
    color: white;
  }

  #nav-logo {
    border-right: 1px solid #1e2d3d;
    @apply text-menu-text font-fira_retina px-6 h-full flex items-center;
  }

  #nav-logo:hover {
    background-color: #1e2d3d74;
    color: white;
  }

  #nav-link.active,
  #nav-link-contact.active {
    border-bottom: 2px solid #fea55f;
    color: white;
  }

  #nav-logo.active {
    border-right: 1px solid #1e2d3d;
    border-bottom: none;
    @apply text-menu-text;
  }

  #navbar > nav {
    height: 45px;
    font-size: 13px;
  }
</style>
