---
import MobileMenu from "../components/MobileMenu.astro";
import AppHeader from "../components/AppHeader.astro";
import AppFooter from "../components/AppFooter.astro";
import GlobalStyles from "../components/GlobalStyles.astro";

import { ViewTransitions } from "astro:transitions";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <ViewTransitions />
  </head>
  <body>
    <div id="main">
      <MobileMenu />
      <AppHeader />
      <slot />
      <AppFooter />
    </div>
  </body>
</html>

<GlobalStyles />
